---
---

@import "{{ site.theme }}";
@import url('fonts.css');

/* Global Styles */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

img {
    margin: 0;
    border: none;
}

.colour {
    color: #28FE14;
}

section {

}

h1 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

h1 a {
    font-weight: 700 !important;
}

h2 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

footer p {
    margin: 0;
}

a {
    color: #18980c;
    font-weight: 500;
}

blockquote {
    padding: 10px;
    font-size: 16pt;
    line-height: 22pt;
    font-style: normal;
    background-color: #106608;
    color: #FFF;
    border-radius: 5px;
}

blockquote p:last-child {
    margin-bottom: 0;
}

/* Header Styles */

header {
    background-color: #000;
    width: 215px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 30px 0px 0 0;
    padding: 35px 0 25px 50px;
    background-image: url('/assets/img/header-background.svg');
    background-repeat: repeat-y;
    background-position: bottom left;
    background-size: 90%;
}

header img {
    margin: 0;
}

header ul {
    display: block;
    width: 100%;
    margin: 40px 0 30px;
}

header ul li {
    margin: 0 0 25px;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
}

header ul li:last-child {
    margin-bottom: 0;
}

header ul li:hover {
    background: none;
}

header ul li a {
    display: block;
    font-size: 14pt;
    font-weight: 500;
    line-height: 16pt;
    padding: 5px 0 5px;
}

header ul li a:hover {
    background-color: red;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    background-color: #28FE14;
    color: #000;
    text-decoration: none;
}

/* Footer Styles */

footer {
    margin: 0 0 20px;
    font-size: 10pt;
    line-height: 10pt;
}

footer img.sigir {
    position: relative;
    right: 8px;
}

@media screen and (max-height: 620px) {
    footer img.sigir {
        display: none;
    }
}

@media screen and (max-height: 540px) {
    footer {
        display: none;
    }
}

/* Table manipulation (for the about page) */

table {
    border: none;
}

td {
    background-color: transparent;
}

td:last-child {
    vertical-align: top;
}

td:first-child {
    width: 20%;
}

td:first-child img {
    width: 155px;
    height: auto;
}

table th {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
    background-color: #0c4c06;
}

table tr:nth-child(2n) {
    background-color: #d4ffd0;
}

table tr:hover {
    background-color: #94ff8a !important;
}

/* Responsive Styling */

@media screen and (max-width: 960px) {

    body {
        margin: 0;
        padding: 0;
    }

    header {
        width: 100%;
        border-radius: 0;
        margin-top: 0;
        padding-right: 50px;
    }

    header img {
        display: block;
    }

    header h1 {
        display: inline-block;
    }

    header p.header {
        display: inline;
        padding-left: 10px;
    }

    footer {
        display: none;
    }

    header ul {
        display: inline-block;
        position: static;
        margin: 0;
        width: auto;
    }

    header ul li {
        display: inline-block;
        width: auto;
        margin-right: 10px;
    }

    header ul li:last-child {
        margin-right: 0;
    }

    header ul li a {
        padding: 5px;
        background-color: #147f0a;
        border-radius: 5px;
    }
}

@media screen and (max-width: 730px) {

    header {
        padding-left: 20px;
    }

}